---
/*
dave
mejid
henock
tomi
barni
eyoas
nura
aj
dagi
abel
kenji

*/
const data = [
  {
    id:1,
    fname: 'Mejid',
    lname: "Netcrawler",
    lastword: "The Money Is The Motive",
    photo: '/mejid-min.jpg',
  },
  {
    fname: 'Dave',
    lname: "Woy yoy",
    lastword: "አትለኝም!! ... ሁላችንም አስመሳዮች ነን !",
    photo: 'dave-min.jpg',
  },
  {
    id:2,
    fname: 'Henok',
    lname: "Henooks",
    lastword: "ቆለእ",
    photo: 'enoch-min.jpg',
  },
  {
    id:3,
    fname: 'Eyoas',
    lname: "Eyosi",
    lastword: "Haily I know u mish ur mash ",
    photo: '/eyoas-min.jpg',
  }, {
    id:4,
    fname: 'Abel',
    lname: "Paps",
    lastword: "Tenu is My Mother ",
    photo: 'abel-min.jpg',
  }, {
    id:5,
    fname: 'Barnabas',
    lname: "Barni",
    lastword: "Niggas 🥷 Be Counting ME up",
    photo: 'barni-min.jpg',
  }, 
  {
    id:5,
    fname: 'Thomas',
    lname: "Tomi Boi",
    lastword: "Im Sexy and i Know it",
    photo: 'tomi-min.jpg',
  },
  {
    id:6,
    fname: 'Kenhirian',
    lname: "Kenji",
    lastword: "Everyday MILFs be testing me Ah !",
    photo: 'kenji-min.jpg',
  },
  {
    id:8,
    fname: 'Nuredin',
    lname: "Nura",
    lastword: "I do Snaps For A living!",
    photo: 'nura-min.jpg',
  },
  {
    id:9,
    fname: 'Abduljelil',
    lname: "AJ",
    lastword: "ፈጀኋቸው!! ምኖቹን እንዳትሉኝ you know me  ",
    photo: 'aj-min.jpg',
  },
  {
    id:10,
    fname: 'Dagmawi',
    lname: "Dagi Daddy ah!",
    lastword: "Son Of A Bald !! or Should i say ... የመላጣ ልጅ ",
    photo: 'dagi-min.jpg',
  }, {
    id:11,
    fname: 'Bereket',
    lname: "Beki",
    lastword: "በህይወቴ ደስተኛ ነኝ",
    photo: 'beki-min.jpg',
  }, 
]





---

<style>
  .responsive-container-block {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px; /* Fixed width for all cards */
    min-height: 300px; /* Minimum height to ensure consistent size */
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .name-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }

  .name {
    font-size: 20px;
    font-weight: 900;
    color: rgb(51, 51, 51);
    margin: 0;
  }

  .position {
    font-size: 18px;
    color: rgb(51, 51, 51);
    margin: 0;
  }

  .lastword {
    font-size: 16px;
    color: #777;
    margin-bottom: 10px;
  }

  .photo {
    margin-left: auto; /* Move the image to the right */
  }

  .photo img {
    border-radius: 50%;
    width: 150px; /* Adjust image size */
    height: 150px; /* Adjust image size */
    object-fit: cover;
    margin-top: 20px
  }

  .quote-svg {
    width: 35px;
    height: auto;
  }
</style>

<div class="responsive-container-block">
  {data.map((item, index) => (
    <div class="card">
      <img class="quote-svg" src="/quote.svg" alt="Quote Icon" />
      <p class="lastword">{item.lastword}</p>
      <div class="name-container">
        <div>
          <p class="name">{item.fname}</p>
          <p class="position">{item.lname}</p>
        </div>
        <div class="photo">
          <img src={`public/${item.photo}`} alt={`Photo of ${item.fname}`} />
        </div>
      </div>
    </div>
  ))}
</div>
